<div align="center" class="container">
    <h1 align="center" class="jumbotron jumbotron-submain">Getting Here</h1>
</div>

<div align="center" class="container">
    <a href="https://goo.gl/maps/mdDATUwMRyq">
    <image><img id="map_image" src="https://maps.googleapis.com/maps/api/staticmap?center=Brattleboro+Country+Club&zoom=14&size=600x600&markers=Brattleboro+Country+Club&sensor=false"/></image>
    </a>
</div>

