<body id="page-get_here">

    <div align="center" class="container">
        <h1 align="center" class="jumbotron jumbotron-submain">Getting Here</h1>
    </div>
    
    <div align="center" class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11695.898827645306!2d-72.581618!3d42.873378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdc617561ea505c83!2sBrattleboro+Country+Club!5e0!3m2!1sen!2sus!4v1464962454981" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!--<a href="https://goo.gl/maps/mdDATUwMRyq">-->
        <!--<image><img id="map_image" src="https://maps.googleapis.com/maps/api/staticmap?center=Brattleboro+Country+Club&zoom=14&size=600x600&markers=Brattleboro+Country+Club&sensor=false"/></image>-->
        <!--</a>-->
    </div>

</body>