<div align="center" class="container">
    <h1 align="center" class="jumbotron jumbotron-submain">Getting Here</h1>
</div>

<div align="center" class="container">
    <%= image_tag("farmhouses.jpg", :alt => "bratt") %>
</div>

