<body id="page-registry">

    <div align="center" class="container">
        <h1 align="center" class='jumbotron jumbotron-submain'>Registry</h1>
    </div>
    
    <div align="center" class="container vertical-strip white">
        <br><h3>Thanks for coming to check out our registry! We're working on it 
        and we plan to have it up by July 1st.</h3><br>
    </div>

<!-- AMAZON: "https://www.amazon.com/wedding/andrea-carusona-sam-bruno-eastham-november-2015/registry/1O26Y4R9HDGSB"  -->
<!-- CRATE&BARREL: "http://www.crateandbarrel.com/gift-registry/andrea-carusona/r5536899"  -->
    
</body>

