<div class="container">
    <h1 align="center" class='jumbotron bold round'>Wedding Weekend Schedule</h1>
</div>

<div align="center" class="container container-border white round narrow">
    <div align="center">
        <h3 class="underline">Friday</h3>
        <table align="center" class="table table-striped">
            <tr>
                <td>9:00PM</td>
                <td>Drinks and Hangtimes</td>
            </tr>
        </table>
    </div>

    <div align="center">
        <h3 class="underline">Saturday</h3>
        <table align="center" class="table table-striped">
            <tr>
                <td>1:00PM</td>
                <td>Lunch & Lawn Games</td>
            </tr>
            <tr>
                <td>6:00PM</td>
                <td>Cocktail Hour</td>
            </tr>
            <tr>
                <td>7:00PM</td>
                <td>Dinner</td>
            </tr>
            <tr>
                <td>8:00PM</td>
                <td>Dancing</td>
            </tr>
        </table>
    </div>
    
    <div align="center">
        <h3 class="underline">Sunday</h3>
        <table align="center" class="table table-striped">
            <tr>
                <td>9:00AM</td>
                <td>Breakfast</td>
            </tr>
            <tr>
                <td>10:00PM</td>
                <td>Music Jam</td>
            </tr>
        </table>
    </div>
</div> <!-- end of well class -->