<body id="page-schedule">

    <div align="center" class="container">
        <h1 align="center" class='jumbotron jumbotron-submain'>Weekend Schedule</h1>
    </div>
    
    <div align="center" class="container container-border white round narrow">
        <div class="row">
            <h3 class="underline"><strong>Friday</strong>: The Colonial</h3><br>
            <table align="center" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td><time>9:00PM</time></td>
                        <td>Drinks and Hangtimes</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11694.898899913038!2d-72.559077!3d42.878654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x46d7c97ff6b12633!2sColonial+Motel+and+Spa!5e0!3m2!1sen!2sus!4v1470511567721" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>        

    </div>
        
    <div align="center" class="container container-border white round narrow">
        <div class="row">
            <h3 class="underline"><strong>Saturday</strong>: Brattleboro Country Club</h3><br>
            <table align="center" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>4:30PM</td>
                        <td>Cocktail Hour</td>
                    </tr>
                    <tr>
                        <td>6:00PM</td>
                        <td>Dinner</td>
                    </tr>
                    <tr>
                        <td>7:30PM</td>
                        <td>Dancing</td>
                    </tr>
                    <tr>
                        <td>9:00PM</td>
                        <td>Dessert & Coffee</td>
                    </tr>
                    <tr>
                        <td>9:30PM to 10:00PM</td>
                        <td>Shuttles to Afterparty</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11695.898827645306!2d-72.581618!3d42.873378!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdc617561ea505c83!2sBrattleboro+Country+Club!5e0!3m2!1sen!2sus!4v1464962454981" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div> <!-- /container-border white round -->
        
    <div align="center" class="container container-border white round narrow">
        <div class="row">
            <h3 class="underline"><strong>Sunday</strong>: Ritchie and Alicia's</h3><br>
            <table align="center" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>12:00PM to ??</td>
                        <td>Backyard Hangout</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe align="center" class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.0889196943867!2d-72.70816368426951!3d43.08162589721898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e1aaac44ba77cb%3A0x1c73f2b0699f02c0!2s59+Ritchie&#39;s+Rd%2C+Townshend%2C+VT+05353!5e0!3m2!1sen!2sus!4v1466195803380" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div> <!-- /container-border white round -->
    
</body>