<div class="container">
    <h1 align="center" class='jumbotron bold round'>Where to Stay</h1>
</div>

<div align="center" class="container">
    <%= image_tag("brattmap3.jpg", :alt => "bratt") %>
</div>