<body id="page-rsvp">

  <br>
  <br>
  <div align="center" class="container">
    <h2 align="center">
    <% if @rsvp.yes %>
      Thank you for your RSVP. We can't wait to celebrate with you!
    <% else %>
      We're sorry you can't make it. Thank you for the RSVP.
    <% end %>
    </h2>
  </div>

<br>
<div align="center" class="container">
  [ <%= link_to "Return to homepage", root_path %> ]
</div>


</body>