@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
    font-family: "CopaseticNF";
    src: asset-url('CopaseticNF.otf') format("truetype");
}

@font-face {
    font-family: "BettyNoir";
    src: asset-url('bettynoir.ttf') format("truetype");
}

@font-face {
    font-family: "Fog02";
    src: asset-url('FoglihtenDeH02.otf') format("truetype")
}

@font-face {
    font-family: "Fog04";
    src: asset-url('FoglihtenDeH04.otf') format("truetype")
}

@font-face {
    font-family: "Chess";
    src: asset-url('ChessAlpha2.ttf') format("truetype")
}

// body {
//     background-position: center;
//     width:100%;
//     height:1000px;
// }

// BACKGROUND IMAGES
#page-index {
    background: image-url("bratt_topo.jpg");
    background-position: center;
    width:100%;
    height:1000px;
}

#page-get_here {
    
}

#page-stay {
    background: image-url("bratt_plan.jpg");
    background-position: center;
    width:100%;
    height:1000px;
}

#page-schedule {
    background: image-url("wood-table.jpg");
    background-position: center;
    width:100%;
}

#page-todo {
    background: image-url("whetstone.jpg");
    background-position: center;
    width:100%;
    height:1000px;
}

#page-registry {
    background: image-url("under-construction.jpg");
    background-position: center;
    width:100%;
}

.jumbotron-main {
    font-family: "CopaseticNF", "sans-serif";
    background: #141414;
    color: #FCFBE3;
    h1 {
        font-size: 3.5em;
    }
    p {
        font-size: 3em;
        .btn {
            padding: 1.5em;
        }
    }
}

.jumbotron-submain {
    font-family: "CopaseticNF";
    background: #141414;
    width: 75%;
    color: #FCFBE3;
    font-weight: bold;
    border-style: groove;
    border-color: #FCFBE3;
}

.jumbotron-farms {
    position: relative;
    background: #000 image-url("farmhouses.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.main-title {
    font-weight: bold;
    color: #FAEBD7;
}

.fog02 {
    font-family: "Fog02";
    font-size: 1.5em;
}

.fog04 {
    font-family: "Fog04";
    font-size: 1.5em;
}

.chess {
    font-family: "Chess";
    font-size: 1.3em;
}

.white {
    background: #FCFBE3;;
}

.table-hover {
    width: 100%;
    padding: 5px 5px;
}

tr, td {
    text-align: center;
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left:0;
}

a {
    text-decoration: none;  
}

a:hover {
    text-decoration: none;
}

.map {
    background: image-url("brattmap3.jpg");
    width:100%;
    height:1000px;
}

.bg-off-white {
    background-color: #FAEBD7;
}

.round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.narrow {
    width: 50%;
}

.todo-img {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 2px;
    width: 80%;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

p {
    font-size: 1.3em;
}

.welcome-text > p {
    font-size: 1.4em;
    padding-right: 3em;
}

.blurb {
    font-size: 1.3em;
}

.hotel-deets {
    font-size: 1.2em;
}

.right-padding {
    padding-right: 3em;
}

.bottom-margin {
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
}

.container-border {
    border: 2px solid #141414;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.vertical-strip {
    top: 0;
    border: 2px solid #141414;
    border-radius: 10px;
    width: 66%;
}

// MEDIA QUERIES

@media (max-width: 767px) {
    .narrow {
        width: 100%;
    }
    
}

@media (max-width: 40em) {
    .hotel-img {
        display: none;
        padding: initial;
    }
    .fog02 {
        display: none;
    }
    .jumbotron-submain {
        width: 100%;
    }
    .hotel-deets {
        font-size: 0.9em;
    }
    .welcome-text > p {
        padding: initial;
    }
}


// NAVBAR STYLING

/* navbar */
.navbar-default {
    background-color: #141414;
    border-color: #141414;
}
/* title */
.navbar-default .navbar-brand {
    color: #FCFBE3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #141414;
    color: #D3D3D3;
    border-color: #D3D3D3;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FCFBE3;
    font-size: 1.4em;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #141414;
    color: #D3D3D3;
    border-color: #D3D3D3;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #141414;
    color: #D3D3D3;
    border-color: #D3D3D3;
    font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #141414;
    color: #D3D3D3;
    font-weight: bold;
    border-color: #D3D3D3;
}
/* caret */
// .navbar-default .navbar-nav > .dropdown > a .caret {
//     border-top-color: #777;
//     border-bottom-color: #777;
// }
// .navbar-default .navbar-nav > .dropdown > a:hover .caret,
// .navbar-default .navbar-nav > .dropdown > a:focus .caret {
//     border-top-color: #333;
//     border-bottom-color: #333;
// }
// .navbar-default .navbar-nav > .open > a .caret, 
// .navbar-default .navbar-nav > .open > a:hover .caret, 
// .navbar-default .navbar-nav > .open > a:focus .caret {
//     border-top-color: #555;
//     border-bottom-color: #555;
// }

/* mobile version */
.navbar-default .navbar-toggle {
    background-color: #141414;
    color: #141414;
    border-color: #141414;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FCFBE3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #D3D3D3;
    .icon-bar {
        background-color: #141414;
    }
}



