@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
    font-family: "CopaseticNF";
    src: asset-url('CopaseticNF.otf') format("truetype");
}

@font-face {
    font-family: "BettyNoir";
    src: asset-url('bettynoir.ttf') format("truetype");
}

body {
    // background: image-url("brattmap3.jpg");
    background: image-url("bratt_topo.jpg");
    background-position: center; 
    width:100%;
    height:1000px;
}

.jumbotron-main {
    font-family: "CopaseticNF", "sans-serif";
    background: #141414;
    color: #FCFBE3;
    h1 {
        font-size: 3.5em;
    }
    p {
        font-size: 3em;
        .btn {
            padding: 1.5em;
        }
    }
}

.jumbotron-submain {
    font-family: "CopaseticNF";
    background: #141414;
    width: 50%;
    color: #FCFBE3;
    font-weight: bold;
    border-style: groove;
    border-color: #FCFBE3;
}

.main-title {
    font-weight: bold;
    color: #FAEBD7;
}

.white {
    background: #FCFBE3;;
}

.table-hover {
    width: 100%;
    padding: 5px 5px;
}

tr, td {
    text-align: center;
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left:0;
}

a {
    text-decoration: none;  
}

a:hover {
    font-weight: bold;
    text-decoration: none; 
}

.jumbotron-farms {
    position: relative;
    background: #000 image-url("farmhouses.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.map {
    background: image-url("brattmap3.jpg");
    width:100%;
    height:1000px;
}

.bg-off-white {
    background-color: #FAEBD7;
}

.round {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

// USE MEDIA QUERIES FOR THIS ONE!
.narrow {
    width: 65%;
}

.underline {
    text-decoration: underline;
}

.container-border {
    border: 2px solid #141414;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 10px;
}

// NAVBAR STYLING

/* navbar */
.navbar-default {
    background-color: #141414;
    border-color: #141414;
}
/* title */
.navbar-default .navbar-brand {

    color: #FCFBE3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #141414;
    color: #D3D3D3;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FCFBE3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #141414;
    color: #D3D3D3;
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #141414;
    color: #D3D3D3;
    font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #141414;
    color: #D3D3D3;
    font-weight: bold;
}
/* caret */
// .navbar-default .navbar-nav > .dropdown > a .caret {
//     border-top-color: #777;
//     border-bottom-color: #777;
// }
// .navbar-default .navbar-nav > .dropdown > a:hover .caret,
// .navbar-default .navbar-nav > .dropdown > a:focus .caret {
//     border-top-color: #333;
//     border-bottom-color: #333;
// }
// .navbar-default .navbar-nav > .open > a .caret, 
// .navbar-default .navbar-nav > .open > a:hover .caret, 
// .navbar-default .navbar-nav > .open > a:focus .caret {
//     border-top-color: #555;
//     border-bottom-color: #555;
// }

/* mobile version */
.navbar-default .navbar-toggle {
    background-color: #FCFBE3;
    color: #141414;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #141414;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #141414;
    .icon-bar {
        background-color: #D3D3D3;
    }
}

// @media (max-width: 767px) {
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//         color: #FCFBE3;
//     }
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
//     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
//         color: #D3D3D3;
//         font-weight: bold;
//     }
// }