@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.home-title {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left:0;
}

a {
    text-decoration: none;   
}

a:hover {
    font-weight: bold;
    text-decoration: none; 
}
